@font-face {
  font-family: "iconfont"; /* Project id 3472231 */
  src: url('iconfont.woff2?t=1655463169102') format('woff2'),
       url('iconfont.woff?t=1655463169102') format('woff'),
       url('iconfont.ttf?t=1655463169102') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-pifu1:before {
  content: "\e647";
}

.icon-thlarge:before {
  content: "\e744";
}

.icon-yingwen:before {
  content: "\ebe0";
}

.icon-zhongwen:before {
  content: "\ebe2";
}

